venv
saved_models
__pycache__
tmp

zephyr/*
!zephyr/liteRT-micro
!zephyr/emlearn
!zephyr/iree
!zephyr/docker
!zephyr/README.md
zephyr/emlearn/src/model_data/*
!zephyr/emlearn/src/model_data/README.md
